@use "./normalize.scss";
@use "./reset.scss";
@use "./blocks/mainContainer";
@use "./blocks/header";
@use "./blocks/mainContent";
@use "./blocks/game";
@use "./blocks/footer";
@use "./blocks/popup";





// for game

